=begin
#Ragie API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0-SNAPSHOT

=end

require 'cgi'

module RagieRubySdk
  class ElementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Element For Document
    # Returns an element for a specific id
    # @param element_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiDocumentElement]
    def get_element(element_id, opts = {})
      data, _status_code, _headers = get_element_with_http_info(element_id, opts)
      data
    end

    # Get Element For Document
    # Returns an element for a specific id
    # @param element_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiDocumentElement, Integer, Hash)>] ApiDocumentElement data, response status code and response headers
    def get_element_with_http_info(element_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ElementsApi.get_element ...'
      end
      # verify the required parameter 'element_id' is set
      if @api_client.config.client_side_validation && element_id.nil?
        fail ArgumentError, "Missing the required parameter 'element_id' when calling ElementsApi.get_element"
      end
      # resource path
      local_var_path = '/elements/{element_id}'.sub('{' + 'element_id' + '}', CGI.escape(element_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiDocumentElement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['auth']

      new_options = opts.merge(
        :operation => :"ElementsApi.get_element",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ElementsApi#get_element\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Elements For Document
    # List the latest elements for a document. The results are sorted by index in ascending order. Results are paginated with a max limit of 100. When more elements are available, a `cursor` will be provided. Use the `cursor` parameter to retrieve the subsequent page
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An opaque cursor for pagination
    # @option opts [Integer] :page_size The number of items per page (must be greater than 0 and less than or equal to 100) (default to 10)
    # @option opts [Array<DocumentElementType>] :type 
    # @option opts [Integer] :index_start 
    # @option opts [Integer] :index_end 
    # @option opts [String] :partition An optional partition to scope the request to. If omitted, accounts created after 1/9/2025 will have the request scoped to the default partition, while older accounts will have the request scoped to all partitions. Older accounts may opt in to strict partition scoping by contacting support@ragie.ai. Older accounts using the partitions feature are strongly recommended to scope the request to a partition.
    # @return [ListDocumentElements]
    def list_elements(document_id, opts = {})
      data, _status_code, _headers = list_elements_with_http_info(document_id, opts)
      data
    end

    # List Elements For Document
    # List the latest elements for a document. The results are sorted by index in ascending order. Results are paginated with a max limit of 100. When more elements are available, a &#x60;cursor&#x60; will be provided. Use the &#x60;cursor&#x60; parameter to retrieve the subsequent page
    # @param document_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An opaque cursor for pagination
    # @option opts [Integer] :page_size The number of items per page (must be greater than 0 and less than or equal to 100) (default to 10)
    # @option opts [Array<DocumentElementType>] :type 
    # @option opts [Integer] :index_start 
    # @option opts [Integer] :index_end 
    # @option opts [String] :partition An optional partition to scope the request to. If omitted, accounts created after 1/9/2025 will have the request scoped to the default partition, while older accounts will have the request scoped to all partitions. Older accounts may opt in to strict partition scoping by contacting support@ragie.ai. Older accounts using the partitions feature are strongly recommended to scope the request to a partition.
    # @return [Array<(ListDocumentElements, Integer, Hash)>] ListDocumentElements data, response status code and response headers
    def list_elements_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ElementsApi.list_elements ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling ElementsApi.list_elements"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ElementsApi.list_elements, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ElementsApi.list_elements, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/documents/{document_id}/elements'.sub('{' + 'document_id' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'type'] = @api_client.build_collection_param(opts[:'type'], :multi) if !opts[:'type'].nil?
      query_params[:'index_start'] = opts[:'index_start'] if !opts[:'index_start'].nil?
      query_params[:'index_end'] = opts[:'index_end'] if !opts[:'index_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'partition'] = opts[:'partition'] if !opts[:'partition'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListDocumentElements'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['auth']

      new_options = opts.merge(
        :operation => :"ElementsApi.list_elements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ElementsApi#list_elements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
