=begin
#Ragie API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0-SNAPSHOT

=end

require 'cgi'

module RagieRubySdk
  class WebhookEndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Webhook Endpoint
    # Create a webhook endpoint to receive notifications about document status updates, connection sync progress, partition limits, and other tenant events.
    # @param create_webhook_endpoint_payload [CreateWebhookEndpointPayload] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpoint]
    def create_webhook_endpoint(create_webhook_endpoint_payload, opts = {})
      data, _status_code, _headers = create_webhook_endpoint_with_http_info(create_webhook_endpoint_payload, opts)
      data
    end

    # Create Webhook Endpoint
    # Create a webhook endpoint to receive notifications about document status updates, connection sync progress, partition limits, and other tenant events.
    # @param create_webhook_endpoint_payload [CreateWebhookEndpointPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpoint, Integer, Hash)>] WebhookEndpoint data, response status code and response headers
    def create_webhook_endpoint_with_http_info(create_webhook_endpoint_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.create_webhook_endpoint ...'
      end
      # verify the required parameter 'create_webhook_endpoint_payload' is set
      if @api_client.config.client_side_validation && create_webhook_endpoint_payload.nil?
        fail ArgumentError, "Missing the required parameter 'create_webhook_endpoint_payload' when calling WebhookEndpointsApi.create_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_webhook_endpoint_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['auth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.create_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#create_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Webhook Endpoint
    # Delete a webhook endpoint to stop delivering webhook notifications to its URL.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ResponseOK]
    def delete_webhook_endpoint(endpoint_id, opts = {})
      data, _status_code, _headers = delete_webhook_endpoint_with_http_info(endpoint_id, opts)
      data
    end

    # Delete Webhook Endpoint
    # Delete a webhook endpoint to stop delivering webhook notifications to its URL.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseOK, Integer, Hash)>] ResponseOK data, response status code and response headers
    def delete_webhook_endpoint_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.delete_webhook_endpoint ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhookEndpointsApi.delete_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResponseOK'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['auth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.delete_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#delete_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Webhook Endpoint
    # Get a webhook endpoint by its id.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpoint]
    def get_webhook_endpoint(endpoint_id, opts = {})
      data, _status_code, _headers = get_webhook_endpoint_with_http_info(endpoint_id, opts)
      data
    end

    # Get Webhook Endpoint
    # Get a webhook endpoint by its id.
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpoint, Integer, Hash)>] WebhookEndpoint data, response status code and response headers
    def get_webhook_endpoint_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.get_webhook_endpoint ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhookEndpointsApi.get_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['auth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.get_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#get_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Webhook Endpoints
    # List all webhook endpoints sorted by created_at in descending order. Results are paginated with a max limit of 100. When more endpoints are available, a `cursor` will be provided. Use the `cursor` parameter to retrieve the subsequent page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An opaque cursor for pagination
    # @option opts [Integer] :page_size The number of items per page (must be greater than 0 and less than or equal to 100) (default to 10)
    # @return [WebhookEndpointList]
    def list_webhook_endpoints(opts = {})
      data, _status_code, _headers = list_webhook_endpoints_with_http_info(opts)
      data
    end

    # List Webhook Endpoints
    # List all webhook endpoints sorted by created_at in descending order. Results are paginated with a max limit of 100. When more endpoints are available, a &#x60;cursor&#x60; will be provided. Use the &#x60;cursor&#x60; parameter to retrieve the subsequent page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor An opaque cursor for pagination
    # @option opts [Integer] :page_size The number of items per page (must be greater than 0 and less than or equal to 100) (default to 10)
    # @return [Array<(WebhookEndpointList, Integer, Hash)>] WebhookEndpointList data, response status code and response headers
    def list_webhook_endpoints_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.list_webhook_endpoints ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling WebhookEndpointsApi.list_webhook_endpoints, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling WebhookEndpointsApi.list_webhook_endpoints, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/webhook_endpoints'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['auth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.list_webhook_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#list_webhook_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Webhook Endpoint
    # Update a webhook endpoint's name, URL, or active status. Use this to rotate endpoints or temporarily disable delivery without deleting the endpoint.
    # @param endpoint_id [String] 
    # @param update_webhook_endpoint_payload [UpdateWebhookEndpointPayload] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpoint]
    def update_webhook_endpoint(endpoint_id, update_webhook_endpoint_payload, opts = {})
      data, _status_code, _headers = update_webhook_endpoint_with_http_info(endpoint_id, update_webhook_endpoint_payload, opts)
      data
    end

    # Update Webhook Endpoint
    # Update a webhook endpoint&#39;s name, URL, or active status. Use this to rotate endpoints or temporarily disable delivery without deleting the endpoint.
    # @param endpoint_id [String] 
    # @param update_webhook_endpoint_payload [UpdateWebhookEndpointPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpoint, Integer, Hash)>] WebhookEndpoint data, response status code and response headers
    def update_webhook_endpoint_with_http_info(endpoint_id, update_webhook_endpoint_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.update_webhook_endpoint ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling WebhookEndpointsApi.update_webhook_endpoint"
      end
      # verify the required parameter 'update_webhook_endpoint_payload' is set
      if @api_client.config.client_side_validation && update_webhook_endpoint_payload.nil?
        fail ArgumentError, "Missing the required parameter 'update_webhook_endpoint_payload' when calling WebhookEndpointsApi.update_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{endpoint_id}'.sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_webhook_endpoint_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['auth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.update_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#update_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
